<% @products.each do |product| %>
 <p><%= product.name %> | <%= number_to_currency product.price %></p>
 <%= link_to product.name, product_path(product), :class => "btn btn-primary" %>
<% end %>
<%= items_in_cart %>
