

<div class="row">
  <% @products.each do |product| %>
      <div class='col-lg-4'>
        <%= link_to product_path(product) do  %>
        <%= render 'product', :product => product %>
        <% end %>
      </div>
  <% end %>
</div>
